:not(.accordionRootNotification).accordionRoot:hover {
    background-color: var(--navds-semantic-color-interaction-primary-hover-subtle);
}

:not(.accordionRootNotification).accordionRootExpanded {
    background-color: var(--navds-semantic-color-interaction-primary-hover-subtle);
}

.accordionHeader {
    padding: var(--navds-spacing-2);
}

.accordionRootNotification {
    border-color: var(--navds-semantic-color-feedback-warning-border);
    background-color: var(--warning-color-background);
}

.accordionRootNotification.accordionRootExpanded > :global(.navds-accordion__header) {
    background-color: var(--navds-global-color-orange-100);
}

.accordionRootFocused {
    box-shadow: var(--navds-shadow-focus-inverted);
}

.accordionContent {
    padding: var(--navds-spacing-4);
}

.accordionContent :global(.navds-alert) {
    margin-bottom: var(--navds-spacing-2);
    padding: var(--navds-spacing-4);
}

.accordionRootNySoknadReadWarning.accordionRootExpanded,
.accordionRootNySoknadReadWarning.accordionRootExpanded > :global(.navds-accordion__header) {
    background-color: var(--navds-semantic-color-interaction-primary-hover-subtle);
}
