:not(.accordionRootNotification).accordionRoot:hover {
    background-color: var(--a-surface-selected);
}

.accordionRootNotification.accordionRoot:hover {
    background-color: var(--a-surface-selected);
}

:not(.accordionRootNotification).accordionRootExpanded {
    background-color: var(--a-surface-selected);
}

.accordionHeader {
    padding: var(--a-spacing-2);
}

.accordionRootNotification {
    border-color: var(--a-border-warning);
    background-color: var(--a-surface-warning-subtle);
}

.accordionRootNotification.accordionRootExpanded {
    background-color: var(--a-surface-selected);
}

.accordionRootFocused {
    box-shadow: var(--a-shadow-focus-inverted);
}

.accordionContent {
    padding: var(--a-spacing-4);
}

.accordionContent :global(.navds-alert) {
    margin-bottom: var(--a-spacing-2);
    padding: var(--a-spacing-4);
}

.accordionRootNySoknadReadWarning.accordionRootExpanded,
.accordionRootNySoknadReadWarning.accordionRootExpanded > :global(.navds-accordion__header) {
    background-color: var(--a-surface-selected);
}

.accordionContent .info {
    margin-bottom: var(--a-spacing-6);
}
