.soknadPanelRoot {
    padding: 0;
    margin-bottom: var(--a-spacing-18);
    max-width: 700px;
}

.header {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--a-spacing-2);
}

.periods {
    margin-top: var(--a-spacing-1);
    margin-bottom: var(--a-spacing-2);
    list-style: none;
    padding: 0;
}

.period {
    margin-bottom: var(--a-spacing-1);
    font-weight: 600;
    font-size: var(--a-font-size-medium);
}

.sendtDate {
    color: var(--a-gray-600);
}

.sentDateAndPrint {
    display: flex;
    justify-content: space-between;
}

.soknadPanelRoot h3 {
    font-size: var(--a-font-size-medium);
}

.soknadOppsummeringList {
    list-style: none;
    padding: 0;
}

.printButton {
    position: relative;
    bottom: var(--a-spacing-2);
    padding: var(--a-spacing-1);
    right: -0.8rem;
}

.printButton svg {
    height: 1.3rem;
}

@media only screen and (max-width: 720px) {
    .printButton {
        display: none;
    }
}

@media print {
    .soknadPanelRoot {
        margin: 0;
    }

    .printButton {
        display: none;
    }
}
