.soknadPanelRoot {
    padding: 0;
    margin-bottom: var(--navds-spacing-10);
}

.content {
    padding: 0 var(--navds-spacing-10) var(--navds-spacing-6) var(--navds-spacing-10);
}

.infoSection {
    padding-bottom: var(--navds-spacing-1);
}

.iconHeader {
    display: flex;
    align-items: center;
    margin-bottom: var(--navds-spacing-2);
    padding: var(--navds-spacing-4) var(--navds-spacing-4) 0 var(--navds-spacing-2);
}

.iconHeader > svg {
    margin: var(--navds-spacing-2);
    height: var(--navds-spacing-7);
    width: var(--navds-spacing-7);
}

.soknadListItemList {
    list-style: none;
    padding: 0;
}

.soknadListItemList > li:last-of-type {
    border-bottom: none;
    margin: 0;
    padding: 0;
}

@media print {
    .soknadPanelRoot {
        border: none;
        padding: 0;
        margin: 0;
    }
}
