.root {
    font-size: var(--navds-font-size-medium);
    padding-left: 17%;
}

.root button {
    font-size: var(--navds-font-size-medium);
    flex-direction: row-reverse;
    justify-content: left;
    border-bottom: none;
    color: var(--navds-global-color-blue-600);
    background-color: transparent;
    font-weight: 400;
    padding: 0;
    border: 0;
}

.root button svg {
    height: 1.2rem;
}

.root :global(.navds-accordion__item--open > .navds-accordion__header),
.root button:focus {
    color: var(--navds-global-color-blue-600);
    background-color: transparent;
    box-shadow: none;
}

.content {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 1.85rem;
    height: auto;
}

.root :global(.navds-accordion__content) {
    border-bottom: 0;
    padding-top: 0;
    padding-left: 0.7rem;
}

.intro {
    padding-bottom: 0.5rem;
}

.weekWrapper {
    display: grid;
    grid-template-columns: 15% 85%;
    align-items: baseline;
}

.week {
    font-size: var(--navds-font-size-medium);
    font-weight: 600;
}

.line {
    width: 2px;
    background-color: var(--navds-panel-color-border);
    height: 98%;
    position: absolute;
    left: 0;
    top: var(--navds-spacing-2);
}

@media only screen and (max-width: 1280px) {
    .root {
        padding-left: 22%;
    }
}

@media only screen and (max-width: 1080px) {
    .root {
        padding-left: 16%;
    }
}

@media only screen and (max-width: 767px) {
    .root {
        padding-left: 20%;
    }

    .weekWrapper {
        grid-template-columns: 20% 80%;
    }
}

@media only screen and (max-width: 426px) {
    .root {
        padding-left: 26%;
    }
}

@media only screen and (max-width: 425px) {
    .root {
        padding-left: 0;
    }

    .weekWrapper {
        grid-template-columns: 25% 75%;
    }
}
