.root :global(.navds-body-long) {
    font-size: var(--navds-font-size-medium);
}

.root > div {
    margin-bottom: 0;
}

.root :global(.navds-guide-panel__content) {
    padding-bottom: 0;
}

.merOmVarslinger {
    margin-top: var(--navds-spacing-4);
    margin-left: var(--navds-spacing-2);
    margin-bottom: var(--navds-spacing-4);
}
