.errorContainer {
    display: flex;
    --navds-content-container-max-width: 50rem;
}

.errorImage {
    margin-right: var(--navds-spacing-8);
    flex: 1 1 50%;
}

.arbeidsgiversidenButton {
    margin-top: var(--navds-spacing-4);
}

@media only screen and (max-width: 960px) {
    .errorContainer {
        flex-direction: column;
    }

    .errorImage {
        max-height: 240px;
        margin-bottom: var(--navds-spacing-4);
    }
}
