.errorContainer {
    display: flex;
    --navds-content-container-max-width: 50rem;
}

.errorDad {
    margin-right: var(--navds-spacing-8);
    flex: 1 1 auto;
}

.arbeidsgiversidenButton {
    margin-top: var(--navds-spacing-8);
}
