{
    "extends": ["plugin:@typescript-eslint/recommended", "prettier", "next"],
    "plugins": ["prettier"],
    "rules": {
        "prettier/prettier": "warn",
        "import/order": [
            "warn",
            {
                "newlines-between": "always"
            }
        ]
    }
}
