.listItemPeopleIconWrapper {
    border-radius: 50%;
    background-color: var(--navds-global-color-blue-100);
    width: var(--navds-spacing-16);
    height: var(--navds-spacing-16);
    margin: var(--navds-spacing-1);
    margin-left: var(--navds-spacing-3);
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.listItemPeopleIconWrapper.notify {
    background-color: var(--navds-global-color-white);
}

.listItemPeopleIconWrapper.notify svg {
    color: var(--navds-global-color-orange-400);
}

.listItemPeopleIconWrapper.sykmeldt {
    background-color: var(--navds-global-color-blue-100);
}

.listItemPeopleIconWrapper.sykmeldt svg {
    color: var(--navds-global-color-blue-900);
}

.listItemPeopleIconWrapper.friskmeldt {
    background-color: var(--navds-global-color-green-100);
}

.listItemPeopleIconWrapper.friskmeldt svg {
    color: var(--navds-global-color-green-900);
}
