.accordionHeaderContent {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.peopleIcon {
    margin: var(--a-spacing-2);
    margin-right: var(--a-spacing-4);
    width: var(--a-spacing-6);
    height: var(--a-spacing-6);
}

.accordionContent {
    padding: var(--a-spacing-4);
}

.heading {
    font-size: var(--a-font-size-heading-xlarge);
}
