.rootContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.content {
    display: flex;
    justify-content: center;
    width: 100%;
    flex: 1 1 auto;
    max-width: 1344px;
}

@media (max-width: 1440px) {
    .content {
        padding: 0 3rem;
    }
}

@media (max-width: 1024px) {
    .content {
        padding: 0 1rem;
    }
}

.pageContainer {
    flex: 1 1 50%;
    margin-bottom: var(--navds-spacing-32);
    max-width: var(--navds-content-container-max-width);
    width: 100%;
}

.desktopMenuContainer,
.sideMenuFiller {
    flex: 1 0 25%;
}

.mobileMenuAccordion {
    display: none;
    margin: var(--navds-spacing-2);
}

.desktopMenuContainer {
    max-width: 15rem;
    margin-top: var(--navds-spacing-20);
    margin-right: var(--navds-spacing-8);
    position: sticky;
    top: calc(var(--navds-spacing-8) + var(--decorator-sticky-offset));
    margin-bottom: var(--navds-spacing-8);
    height: 100%;
}

@media only screen and (max-width: 1280px) {
    .sideMenuFiller {
        flex: 0 0 5%;
    }
}

@media only screen and (max-width: 960px) {
    .rootContainer {
        flex-direction: column;
        align-items: center;
    }

    .mobileMenuAccordion {
        display: block;
    }

    .desktopMenuContainer,
    .sideMenuFiller {
        display: none;
    }
}

@media print {
    .sideMenuFiller,
    .desktopMenuContainer {
        display: none;
    }

    .pageContainer {
        flex: 1 1 auto;
        padding: 0;
        margin: 0;
        max-width: unset;
    }
}
