.menuItem {
    text-align: left;
    position: relative;
}

.notifyingMenuItem {
    background-color: var(--warning-color-background);
}

.activeMenuItem {
    background-color: var(--navds-semantic-color-interaction-primary-hover-subtle);
}

.activeSubItem {
    display: flex;
    align-items: center;
    padding-left: var(--navds-spacing-9);
    background-color: var(--navds-semantic-color-interaction-primary-hover-subtle);
}

.activeSubItem > svg {
    margin-right: var(--navds-spacing-2);
    width: 16px;
    height: 16px;
}

.icon {
    width: 16px;
    height: 16px;
}

.menuItem,
.notifyingMenuItem,
.activeMenuItem,
.activeSubItem {
    height: var(--navds-spacing-9);
}
