.rootContainer {
    display: flex;
    justify-content: center;
}

.pageContainer {
    flex: 1 1 50%;
    margin-bottom: var(--navds-spacing-32);
    max-width: var(--navds-content-container-max-width);
}

.desktopMenuContainer,
.sideMenuFiller {
    flex: 1 0 25%;
}

.mobileMenuAccordion {
    display: none;
    margin: var(--navds-spacing-2);
}

.desktopMenuContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: var(--navds-spacing-20);
    min-width: 18rem;
    position: sticky;
    top: calc(var(--navds-spacing-8) + var(--decorator-sticky-offset));
    margin-bottom: var(--navds-spacing-8);
    height: 100%;
}

@media only screen and (max-width: 1280px) {
    .sideMenuFiller {
        flex: 0 0 5%;
    }
}

@media only screen and (max-width: 960px) {
    .rootContainer {
        flex-direction: column;
        align-items: center;
    }

    .mobileMenuAccordion {
        display: block;
    }

    .desktopMenuContainer,
    .sideMenuFiller {
        display: none;
    }
}

@media only screen and (min-width: 1940px) {
    .desktopMenuContainer {
        align-items: flex-end;
        padding-right: var(--navds-spacing-32);
    }
}
