.root {
    background-color: var(--a-blue-50);
    padding: 30px 30px 10px 30px;
    margin-bottom: var(--a-spacing-8);
}

.root h3 {
    margin-bottom: var(--a-spacing-6);
}

.infoWrapper {
    display: flex;
    align-items: center;
    margin: var(--a-spacing-4) 0 var(--a-spacing-4) 0;
}

.text {
    font-weight: 600;
    margin: 0 0 0 var(--a-spacing-2);
}
