.root {
    border-bottom: 1px solid var(--a-border-divider);
    margin-bottom: var(--a-spacing-10);
    padding-bottom: var(--a-spacing-4);
}

.graaInfoPanel {
    border-bottom: none;
    background-color: var(--a-bg-subtle);
    padding: 30px 30px 15px 30px;
    margin-bottom: var(--a-spacing-5);
}
