.timelineEntry {
    display: flex;
    position: relative;
    margin-bottom: var(--a-spacing-16);
}

.timelineEntryIcon {
    margin: 0 var(--a-spacing-4);
    height: var(--a-spacing-6);
    width: var(--a-spacing-6);
}

.timelineEntryLine {
    width: 1px;
    background-color: var(--a-border-default);
    height: var(--a-spacing-24);
    position: absolute;
    left: var(--a-spacing-7);
    top: var(--a-spacing-7);
}
