.panelRoot {
    padding: var(--navds-spacing-6);
}

.iconHeader {
    display: flex;
    align-items: center;
    margin-bottom: var(--navds-spacing-2);
}

.iconHeader > svg {
    margin: var(--navds-spacing-2);
    height: var(--navds-spacing-7);
    width: var(--navds-spacing-7);
}

.periodHeading,
.period :global(.navds-body-short):nth-child(2) {
    margin-bottom: var(--navds-spacing-2);
}

.sykmeldingListItemList {
    list-style: none;
    padding: 0;
}

.sykmeldingListItemList li:last-child {
    margin: 0;
}

.listItem {
    margin: var(--navds-spacing-4) 0;
    margin-bottom: var(--navds-spacing-7);
}
