.hendelseList {
    padding-left: var(--a-spacing-4);
    margin: var(--a-spacing-1) 0 0;
    max-width: 90%;
}

.hendelseList li {
    margin-bottom: var(--a-spacing-1);
    line-height: var(--a-font-line-height-medium);
}
