.accordionHeader {
    padding: var(--navds-spacing-4);
    border: none;
}

.accordionRoot {
    border: 1px solid var(--navds-panel-color-border);
    border-radius: 4px;
}

.accordionRootNotification {
    border-color: var(--navds-semantic-color-feedback-warning-border);
    background-color: var(--warning-color-background);
}

.accordionContent {
    padding: var(--navds-spacing-4);
}
