.panelRoot {
    max-width: 700px;
}

.header {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--navds-spacing-2);
}

.periods {
    display: flex;
    flex-direction: column;
    margin-top: var(--navds-spacing-1);
    margin-bottom: var(--navds-spacing-2);
}

.period {
    margin-bottom: var(--navds-spacing-1);
    font-weight: 600;
}

.sendtDate {
    color: var(--navds-global-color-gray-600);
}

.sentDateAndPrint {
    display: flex;
    justify-content: space-between;
}

.printButton {
    position: relative;
    bottom: var(--navds-spacing-2);
    padding: var(--navds-spacing-1);
    right: -0.8rem;
}

.onlyPrint {
    justify-content: end;
    height: 0;
}

.onlyPrint .printButton {
    top: -2.5rem;
    height: 2rem;
}

.printButton svg {
    height: 1.3rem;
}

.underTitle {
    margin-bottom: var(--navds-spacing-4);
}

.sykmeldingListItemList {
    list-style: none;
    padding: 0;
}

@media only screen and (max-width: 720px) {
    .printButton {
        display: none;
    }
}

@media print {
    .printButton {
        display: none;
    }
}
