.panelRoot {
    padding: var(--navds-spacing-6);
}

.iconHeader {
    display: flex;
    align-items: center;
    margin-bottom: var(--navds-spacing-2);
}

.iconHeader > svg {
    margin: var(--navds-spacing-2);
    height: var(--navds-spacing-7);
    width: var(--navds-spacing-7);
}

.infoSection {
    border-bottom: 1px solid var(--navds-panel-color-border);
    margin-bottom: var(--navds-spacing-6);
}

.sykmeldingListItemList {
    list-style: none;
    padding: 0;
}

@media print {
    .panelRoot {
        border: none;
    }
}
