.root {
    min-width: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.select {
    margin-top: calc(var(--navds-font-line-height-heading-medium) * -1);
    flex: 1 1 auto;
}

.helpText {
    margin-left: var(--navds-spacing-4);
}
