.accordionRoot {
    border: 1px solid var(--navds-panel-color-border);
    border-radius: 4px;
    background-color: var(--navds-alert-color-info-background);
    margin-bottom: var(--navds-spacing-4);
}

.accordionHeader {
    border: none;
    background-color: unset;
    font-size: 1rem;
}

.accordionContent {
    padding: var(--navds-spacing-4);
    border: none;
    overflow-y: auto;
}
