.accordionRoot {
    border: 1px solid var(--a-border-default);
    border-radius: 4px;
    background-color: var(--a-white);
    margin-bottom: var(--a-spacing-4);
}

.accordionHeader:global(.navds-accordion__header) {
    border: none;
    background-color: var(--a-white);
    font-size: 1rem;
}

.accordionHeader:global(.navds-accordion__header) > :global(.navds-accordion__header-content) {
    flex-grow: 1;
}

.accordionContent {
    padding: var(--a-spacing-4);
    padding-top: 0;
    border: none;
    overflow-y: auto;
}
