.okButton {
    min-width: var(--a-spacing-32);
}

.modalButtonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.firstParagraph {
    margin-right: var(--a-spacing-12);
}
