.modalContent {
    max-width: 30rem;
}

.modalHeading {
    max-width: 20rem;
    padding-bottom: var(--a-spacing-4);
}

.modalContent p {
    margin-right: var(--a-spacing-4);
}

.modalButtons {
    display: flex;
    justify-content: flex-end;
    padding-top: var(--a-spacing-4);
}

.modalButtons button:first-of-type {
    margin-right: var(--a-spacing-4);
}
