.notifcationDot {
    bottom: 0;
    right: 0;
    width: var(--a-spacing-5);
    height: var(--a-spacing-5);
    font-size: var(--a-font-size-small);
    color: white;
    background-color: var(--a-orange-400);
    border: 1px solid var(--a-orange-400);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.absolute {
    position: absolute;
}
