.root {
    margin: var(--a-spacing-4) 0;
    margin-bottom: var(--a-spacing-7);
    text-decoration: none;
}

.heading {
    font-size: var(--a-font-size-medium);
}

.bodyShort,
.heading {
    margin-bottom: var(--a-spacing-1);
}
