.dsLinkPanel {
    text-align: inherit;
    width: 100%;
    text-decoration: none;
}

.dsLinkPanel :global(.navds-link-panel__content) {
    width: 100%;
    display: flex;
    align-items: center;
}

.dsLinkPanelNotify {
    border-color: var(--a-orange-400);
}

.dsLinkPanelNotifyBackground {
    background-color: var(--warning-color-background);
}

.linkContentIcon {
    margin: var(--a-spacing-2);
    margin-top: var(--a-spacing-1);
    margin-right: var(--a-spacing-4);
    min-width: var(--a-spacing-6);
    width: var(--a-spacing-6);
    height: var(--a-spacing-6);
    align-self: flex-start;
}

.linkContentIconNotify {
    color: var(--a-orange-400);
}

.noDescriptionIcon {
    margin-top: var(--a-spacing-2);
}

.mainContent {
    flex-grow: 1;
}

.panelDescription {
    margin-top: 0;
    font-size: var(--a-font-size-small);
    line-height: var(--a-font-line-height-medium);
    max-width: 97%;
}

.innerPanelContent {
    flex: 1 0 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 720px) {
    .innerPanelContent {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

@media only screen and (max-width: 370px) {
    .dsLinkPanel :global(.navds-link-panel__title) {
        font-size: var(--a-font-size-medium);
    }
}
