.okButton {
    margin-top: var(--navds-spacing-4);
}

.veilederWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.veilederWrapper.disableBorder :global(.navds-guide-panel__content) {
    border: none;
}

.veilederPanel {
    max-width: 620px;
}
