.veilederWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--a-spacing-4);
}

.veilederWrapper p {
    line-height: normal;
}

.veilederWrapper.disableBorder :global(.navds-guide-panel__content) {
    border: none;
    align-content: center;
}

.veilederWrapper.disableBorder :global(.navds-guide-panel__content p) {
    margin: 0;
}

.veilederWrapper.disableBorder :global(.navds-guide-panel__content p:not(:last-of-type)) {
    margin-bottom: var(--a-spacing-3);
}

.veilederPanel {
    max-width: 38rem;
    --v2-migration__navds-guide-panel-color-illustration-background: var(--veileder-background);
}

.bodyLongMargin {
    margin-bottom: var(--a-spacing-3);
}

.flexWrap {
    max-width: 40rem;
    margin-bottom: var(--a-spacing-12);
}

.flexWrap .veilederPanel {
    display: flex;
    align-items: center;
    margin: 0 var(--a-spacing-12);
}

.flexWrap .veilederPanel :global(.navds-guide) {
    position: relative;
    top: 0;
    margin-right: -1.5rem;
}

.flexWrap .veilederPanel :global(.navds-guide-panel__content) {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.flexWrap .veilederPanel p {
    margin-bottom: 0;
    margin-top: var(--a-spacing-3);
    font-size: var(--a-font-size-medium);
}

@media only screen and (max-width: 768px) {
    .flexWrap .veilederPanel {
        margin: 0;
    }
}

@media only screen and (max-width: 425px) {
    .flexWrap .veilederPanel {
        flex-direction: column;
        padding: 0;
    }

    .flexWrap .veilederPanel :global(.navds-guide) {
        margin-left: var(--a-spacing-12);
    }
}

@media print {
    .veilederWrapper {
        display: none;
    }
}
