.headerContentRoot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.headerLabelWrapper {
    display: flex;
    flex: 1 0 100px;
}

.seMerLabel {
    word-break: keep-all;
}

.infoIcon {
    margin-right: var(--a-spacing-2);
    color: var(--a-deepblue-400);
    font-size: 1.3rem;
}

@media only screen and (max-width: 720px) {
    .seMerLabel {
        display: none;
    }
}
