@import '~@navikt/ds-css';

html {
    /* Will be set programatically by dekoratøren */
    --decorator-sticky-offset: 0px;
    /* Custom non design system color, requested by Bendik :) */
    --warning-color-background: #fef9ef;
    --veileder-background: #c2eaf7;
}

:root {
    --navds-content-container-max-width: 44rem;
}

.navds-content-container {
    max-width: var(--navds-content-container-max-width);
    padding-top: var(--navds-spacing-12);
    margin-bottom: var(--navds-spacing-14);
}
