.root {
    margin-bottom: var(--a-spacing-12);
}

.filterInput {
    flex: 1 1 auto;
    max-width: 224px;
    align-self: flex-end;
}

.filterInputCell {
    display: flex;
}

.visSelect {
    flex: 1 1 auto;
}

.sortSelect {
    flex: 1 1 auto;
}

.virksomhetsPicker {
    margin-top: var(--a-spacing-8);
    display: none;
}

@media only screen and (max-width: 720px) {
    .virksomhetsPicker {
        display: block;
        margin-bottom: var(--a-spacing-4);
    }

    .filterInput {
        max-width: unset;
    }
}
