.root {
    margin: var(--a-spacing-6) 0;
}

.filterInput {
    flex: 1 1 auto;
    max-width: 224px;
    align-self: flex-end;
}

.filterInputCell {
    display: flex;
}

.visSelect {
    flex: 1 1 auto;
}

.sortSelect {
    flex: 1 1 auto;
}

@media only screen and (max-width: 720px) {
    .filterInput {
        max-width: unset;
    }
}
