.heading,
.bodyShort {
    margin-bottom: var(--a-spacing-1);
}

.underTitle,
.beskrivelseTitle {
    font-size: var(--a-font-size-small);
}

.periodRange {
    margin-bottom: var(--a-spacing-4);
}

.beskrivelseTitle {
    margin-top: var(--a-spacing-4);
}
