.sykmeldingPeriode {
    padding: 0 0 var(--a-spacing-4) 0;
}

.periods {
    flex-grow: 1;
    background-color: var(--a-blue-50);
    padding: var(--a-spacing-4);
    border-radius: 4px;
}

.periode ul {
    list-style: none;
    padding: 0;
}

.periode:not(:last-of-type) {
    margin-bottom: var(--a-spacing-4);
}

.periodeList li {
    margin: 0 0 var(--a-spacing-1) 0;
}

.periode li:last-of-type {
    margin-bottom: 0;
}
