.checkboxExplainationRoot {
    display: grid;
    grid-template-columns: var(--navds-spacing-8) auto;
    align-items: center;
    margin: var(--navds-spacing-2);
}

.alignStart {
    align-items: start;
}
