.headerLabelWrapper {
    flex: 1 0 100px;
}

.seMerLabel {
    word-break: keep-all;
}

.descriptionLabel {
}

@media only screen and (max-width: 720px) {
    .seMerLabel {
        display: none;
    }
}
