.aktivitetsvarselImage {
    margin-bottom: var(--a-spacing-4);
}

.actionList {
    color: var(--a-text-action);
}

.actionList li {
    margin-bottom: var(--a-spacing-2);
}

.actionList li:nth-of-type(2) {
    color: var(--a-text-default);
    list-style-type: none;
}

.suggestionList {
    list-style-type: upper-latin;
}

.suggestionList li {
    margin: var(--a-spacing-8) 0;
}
