.paginationControls {
    display: flex;
    justify-content: center;
    margin-top: var(--navds-spacing-10);
}

.paginatedSection {
    min-height: 546px;
}

.pageSizeWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: var(--navds-spacing-8);
}

.pageSizeSelect {
    width: 7rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.pageSizeSelect :global(.navds-select__label) {
    flex: 1 0 auto;
    margin-left: var(--navds-spacing-2);
}
