.loadingRoot {
    /** Is provided by style tag in PageLoadingState.tsx */
    --loading-percent: 0;
}

.loadingRoot :global(.dinesykmeldte-sidemeny__header) {
    position: relative;
}

.loadingRoot :global(.dinesykmeldte-sidemeny__header)::before {
    content: ' ';
    height: 4px;
    width: 100%;
    position: absolute;
    bottom: -4px;
    left: var(--loading-percent);
    background-color: var(--a-blue-50);
    transition: left 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
