.headerRoot {
    background-color: var(--navds-semantic-color-component-background-light);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 4px solid var(--navds-global-color-deepblue-400);
}

.wrapper {
    flex: 1 1 auto;
    max-width: var(--navds-content-container-max-width);
    padding: var(--navds-spacing-6);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading svg {
    font-size: var(--navds-font-line-height-heading-large);
    margin: var(--navds-spacing-4);
}

.heading :global(.navds-detail) {
    font-size: var(--navds-font-size-large);
}

.subtitle {
    font-size: var(--navds-font-line-height-medium);
}

.virksomhetsPicker {
    max-width: 256px;
}

@media only screen and (max-width: 720px) {
    .virksomhetsPicker {
        display: none;
    }
}

@media only screen and (max-width: 960px) {
    :not(.hasPicker).headerRoot {
        display: none;
    }
}

.withoutPicker {
    max-width: 40rem;
    margin-left: -11rem;
}

@media only screen and (max-width: 1440px) {
    .withoutPicker {
        max-width: 35rem;
        margin-left: -9rem;
    }
}

@media only screen and (max-width: 1320px) {
    .withoutPicker {
        margin-left: -8rem;
    }
}

@media only screen and (max-width: 1280px) {
    .withoutPicker {
        margin-left: -1rem;
    }
}

@media only screen and (max-width: 1160px) {
    .withoutPicker {
        margin-left: 5rem;
    }
}

@media only screen and (max-width: 1070px) {
    .withoutPicker {
        margin-left: 8rem;
    }
}
