.newVersion {
    border-radius: 0;
    border-left: none;
    border-right: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--navds-spacing-4);
}
